.errorPage-container {
  margin-top: 80px;
  margin-bottom: 140px;
  padding: 0;
}

.errorPage-container .errorPage .error-top {
  width: 100%;
  height: 23px;
}

.errorPage-container .errorPage .error-center {
  margin-top: 120px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorPage-container .errorPage .error-center .not-error {
  width: 829px;
  height: auto;
}

.errorPage-container .errorPage .error-center .not-error strong {
  font-family: Inter;
  font-size: 110px;
  font-style: normal;
  font-weight: 500;
  line-height: 115px; /* 104.545% */
  letter-spacing: 3.3px;
  color: #000;
}

.errorPage-container .errorPage .error-center .not-error p {
  margin-top: 40px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: var(--Text2, #000);
}

.errorPage-container .errorPage .error-center .not-error .error-btn {
  margin-top: 76px;
  width: 254px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background: var(--Button2, #db4444);

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: var(--Text, #fafafa);
}
