@charset "UTF-8";
.category-main {
  margin-top: 16px;
  border-top: 1px solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
}
.category-main .category-container {
  padding: 0;
  display: flex;
}
.category-main .category-container .category-left .left-catt {
  margin-top: 40px;
  margin-right: 16px;
  width: 217px;
  height: 344px;
}
.category-main
  .category-container
  .category-left
  .left-catt
  .catt-text-wrapper {
  width: 100%;
  height: 24px;
  margin-bottom: 16px;
  justify-content: space-between;
}
.category-main
  .category-container
  .category-left
  .left-catt
  .catt-text-wrapper
  .catt-text {
  /* Title/16PX Regular */
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: var(--Text2, #000);
}
.category-main .category-container .category-left .left-catt .catt-text {
  cursor: pointer;

  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: var(--Text2, #000);
  margin-bottom: 16px;
}
.category-main .category-container .category-right {
  margin-top: 40px;
  margin-left: 45px;
}
.category-main .category-container .category-right .category-box-wrapper {
  width: 96%;
  height: 344px;
  background: var(--Text2, #000);
}
.category-main
  .category-container
  .category-right
  .category-box-wrapper
  .category-box-left {
  margin-top: 58px;
  margin-left: 64px;
  width: 457px;
  height: 220px;
}
.category-main
  .category-container
  .category-right
  .category-box-wrapper
  .category-box-left
  .category-apple-logoText
  span {
  margin-left: 14px;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: var(--Text, #fafafa);
}
.category-main
  .category-container
  .category-right
  .category-box-wrapper
  .category-box-left
  .catt-vaucher-text {
  margin-top: 20px;
  width: 294px;
  height: 120px;
}
.category-main
  .category-container
  .category-right
  .category-box-wrapper
  .category-box-left
  .catt-vaucher-text
  strong {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: 1.92px;
  color: var(--Text, #fafafa);
}
.category-main
  .category-container
  .category-right
  .category-box-wrapper
  .category-box-left
  .catt-shop-btn {
  margin-top: 22px;
}
.category-main
  .category-container
  .category-right
  .category-box-wrapper
  .category-box-left
  .catt-shop-btn
  .catt-shopBtn {
  margin-right: 8px;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: var(--Text, #fafafa);
  text-decoration: underline;
}
.category-main
  .category-container
  .category-right
  .category-box-wrapper
  .category-box-right
  .catt-iphone-logo {
  width: 496px;
  height: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-main
  .category-container
  .category-right
  .category-box-wrapper
  .category-box-right
  .catt-iphone-logo
  .logo-img {
  box-shadow: 0 7px 4px -4px rgb(21, 15, 15);
}

.flash-sales-main {
  margin-bottom: 60px;
  padding: 0;
  margin-top: 140px;
  height: 610px;
}
.flash-sales-main .flash-sales-wrapper {
  width: 100%;
  height: auto;
}
.flash-sales-main .flash-sales-wrapper .flash-sales-top {
  width: 1300px;
  height: auto;
}
.flash-sales-main .flash-sales-wrapper .flash-sales-top .sales-discount {
  width: 1255px;
  height: 105px;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left {
  width: 600px;
  height: 103px;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today {
  width: 180px;
  height: 40px;
  margin-bottom: 20px;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today
  .discount-red {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background: var(--Secondary-2, #db4444);
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today
  span {
  margin-left: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  color: var(--Secondary-2, #db4444);
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper {
  width: 100%;
  height: auto;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  strong {
  margin-top: 10px;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
  color: var(--Text2, #000);
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper {
  margin-left: 87px;
  width: 302px;
  height: 50px;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box {
  width: 46px;
  height: 20px;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box
  span {
  margin: 0;
  margin-bottom: 4px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  color: var(--Text2, #000);
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box
  p {
  margin: 0;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
  letter-spacing: 1.28px;
  color: var(--Text2, #000);
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .equal {
  margin-top: 5px;
  margin-left: 13px;
  height: 50px;
  width: 46px;
  color: #e07575;
  font-size: 37px;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-top
  .sales-discount
  .discount-right {
  padding-top: 60px;
  width: 60px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.flash-sales-main .flash-sales-wrapper .flash-sales-bottom {
  margin-left: 10px;
  margin-top: 40px;
  width: 100%;
  height: 350px;
}

.flash-sales-main .flash-sales-wrapper .flash-sales-bottom .products-wrapper {
  justify-content: space-between; /* yoki center, gap berib ham ishlaydi */
  gap: 20px; /* productlar orasida masofa bo‘ladi */
  width: 100%;
  height: 350px;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main {
  background: white;
  position: relative;
  width: 270px;
  height: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main
  .discount-percentage {
  margin-top: 12px;
  margin-left: 12px;
  width: 55px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Secondary-2, #db4444);
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main
  .product-images {
  width: 100%;
  height: 200px; /* yoki sizga mos o‘lcham */
  object-fit: contain; /* yoki cover */
  background-color: transparent; /* shaffof fon */
  display: inline;
  margin: 0 auto;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main
  .like-wiew {
  position: absolute;
  width: 34px;
  height: 76px;
  left: 220px;
  top: 20px;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main
  .like-wiew
  .like-view-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.486);
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main
  .productName {
  display: inline;
  margin-left: 16px;
  margin-top: 16px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main
  .product-price {
  margin-left: 16px;
  margin-top: 16px;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main
  .product-price
  .exact-price {
  color: var(--Secondary-2, #ed1111);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main
  .product-price
  .discount-price {
  color: var(--Button, rgba(0, 0, 0, 0.3215686275));
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: line-through;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main
  .product-price
  .sold-count {
  width: 90px;
  height: 30px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: rgba(255, 85, 0, 0.7490196078);
  box-shadow: 4px 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main:hover {
  transform: scale(1.04); /* butun kartani kattalashtiradi */
  transition: transform 0.4s ease-in-out; /* sekinlik bilan */
}
ash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main:hover
  .discount-percentage {
  transform: scale(0.9); /* biroz kichiklashadi */
  transition: transform 0.3s ease-in-out;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box-main:hover
  .like-wiew
  .like-view-icon {
  transform: scale(0.9); /* u ham kichiklashadi */
  transition: transform 0.3s ease-in-out;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box:hover {
  transform: translateY(-8px) scale(1.03); /* tepaga ko'tariladi va biroz kattalashadi */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.flash-sales-main
  .flash-sales-wrapper
  .flash-sales-bottom
  .products-wrapper
  .product-box:hover
  .product-b {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}
.flash-sales-main .flash-sales-wrapper .view-all-products {
  margin-top: 60px;
  width: 100%;
  height: 56px;
}
.flash-sales-main .flash-sales-wrapper .view-all-products .view-all-butt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  height: 56px;
  border-radius: 4px;
  background: var(--Button2, #db4444);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 1000;
  line-height: 24px; /* 150% */
  color: var(--Text, #fafafa);
}

.category-list-main {
  padding: 0;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  height: 313px;
}
.category-list-main .flash-sales-top {
  width: 1300px;
  height: auto;
}
.category-list-main .flash-sales-top .sales-discount {
  width: 1255px;
  height: 105px;
}
.category-list-main .flash-sales-top .sales-discount .discount-left {
  width: 600px;
  height: 103px;
}
.category-list-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today {
  width: 180px;
  height: 40px;
  margin-bottom: 20px;
}
.category-list-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today
  .discount-red {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background: var(--Secondary-2, #db4444);
}
.category-list-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today
  span {
  margin-left: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  color: var(--Secondary-2, #db4444);
}
.category-list-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper {
  width: 100%;
  height: auto;
}
.category-list-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  strong {
  margin-top: 10px;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
  color: var(--Text2, #000);
}
.category-list-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper {
  margin-left: 87px;
  width: 302px;
  height: 50px;
}
.category-list-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box {
  width: 46px;
  height: 20px;
}
.category-list-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box
  span {
  margin: 0;
  margin-bottom: 4px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  color: var(--Text2, #000);
}
.category-list-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box
  p {
  margin: 0;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
  letter-spacing: 1.28px;
  color: var(--Text2, #000);
}
.category-list-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .equal {
  margin-top: 5px;
  margin-left: 13px;
  height: 50px;
  width: 46px;
  color: #e07575;
  font-size: 37px;
}
.category-list-main .flash-sales-top .sales-discount .discount-right {
  padding-top: 60px;
  width: 60px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.category-list-main .catt-wrapper {
  margin-top: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* har qator 6 ustun */
  gap: 20px;
}
.category-list-main .catt-wrapper .catt-box {
  height: 145px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease; /* animatsiya qo'shildi */
}
.category-list-main .catt-wrapper .catt-box:hover {
  border-radius: 4px;
  background: var(--Secondary-2, #db4444);
  /* Categogy/5 */
  transform: translateY(-8px) scale(1.03); /* tepaga ko'tariladi va biroz kattalashadi */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.best-selling-products-main {
  margin-top: 70px;
}
.best-selling-products-main .flash-sales-top {
  width: 1300px;
  height: auto;
}
.best-selling-products-main .flash-sales-top .sales-discount {
  width: 1255px;
  height: 105px;
}
.best-selling-products-main .flash-sales-top .sales-discount .discount-left {
  width: 600px;
  height: 103px;
}
.best-selling-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today {
  width: 180px;
  height: 40px;
  margin-bottom: 20px;
}
.best-selling-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today
  .discount-red {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background: var(--Secondary-2, #db4444);
}
.best-selling-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today
  span {
  width: 220px;
  margin-left: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  color: var(--Secondary-2, #db4444);
}
.best-selling-products-main .flash-sales-top .sales-discount .discount-right {
  padding-top: 60px;
  width: 160px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.best-selling-products-main
  .flash-sales-top
  .sales-discount
  .discount-right
  .view-all {
  width: 160px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--Button2, #db4444);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: var(--Text, #fafafa);
}
.best-selling-products-main .products-wrapper {
  margin-top: 80px;
  margin-bottom: 100px;
  justify-content: space-between; /* yoki center, gap berib ham ishlaydi */
  gap: 20px; /* productlar orasida masofa bo‘ladi */
  width: 100%;
  height: 350px;
}
.best-selling-products-main .products-wrapper .product-box-main {
  background: white;

  position: relative;
  width: 270px;
  height: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.best-selling-products-main
  .products-wrapper
  .product-box-main
  .discount-percentage {
  margin-top: 12px;
  margin-left: 12px;
  width: 55px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Secondary-2, #db4444);
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.best-selling-products-main
  .products-wrapper
  .product-box-main
  .product-images {
  width: 100%;
  height: 200px; /* yoki sizga mos o‘lcham */
  object-fit: contain; /* yoki cover */
  background-color: transparent; /* shaffof fon */
  display: inline;
  margin: 0 auto;
}
.best-selling-products-main .products-wrapper .product-box-main .like-wiew {
  position: absolute;
  width: 34px;
  height: 76px;
  left: 220px;
  top: 20px;
}
.best-selling-products-main
  .products-wrapper
  .product-box-main
  .like-wiew
  .like-view-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.486);
}
.best-selling-products-main .products-wrapper .product-box-main .productName {
  display: inline;
  margin-left: 16px;
  margin-top: 16px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.best-selling-products-main .products-wrapper .product-box-main .product-price {
  margin-left: 16px;
  margin-top: 16px;
}
.best-selling-products-main
  .products-wrapper
  .product-box-main
  .product-price
  .exact-price {
  color: var(--Secondary-2, #ed1111);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.best-selling-products-main
  .products-wrapper
  .product-box-main
  .product-price
  .discount-price {
  color: var(--Button, rgba(0, 0, 0, 0.3215686275));
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: line-through;
}
.best-selling-products-main
  .products-wrapper
  .product-box-main
  .product-price
  .sold-count {
  width: 90px;
  height: 30px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: rgba(255, 85, 0, 0.7490196078);
  box-shadow: 4px 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.best-selling-products-main .products-wrapper .product-box-main:hover {
  transform: scale(1.04); /* butun kartani kattalashtiradi */
  transition: transform 0.4s ease-in-out; /* sekinlik bilan */
}

.best-selling-products-main
  .products-wrapper
  .product-box-main:hover
  .discount-percentage {
  transform: scale(0.9); /* biroz kichiklashadi */
  transition: transform 0.3s ease-in-out;
}
.best-selling-products-main
  .products-wrapper
  .product-box-main:hover
  .like-wiew
  .like-view-icon {
  transform: scale(0.9); /* u ham kichiklashadi */
  transition: transform 0.3s ease-in-out;
}
.best-selling-products-main .products-wrapper .product-box:hover {
  transform: translateY(-8px) scale(1.03); /* tepaga ko'tariladi va biroz kattalashadi */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.best-selling-products-main .products-wrapper .product-box:hover .product-b {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

.advertaisment-main {
  padding: 69px 0 69px 56px;
  width: 100%;
  height: 500px;
  background: radial-gradient(circle at center, #666262, #111111, #1a1a1a);
  background-size: 400% 400%;
  animation: moveBg 7s ease infinite;
}
.advertaisment-main .advertaisment-wrapper {
  position: relative;
}
.advertaisment-main .advertaisment-wrapper span {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  color: var(--Button1, #0f6);
}
.advertaisment-main .advertaisment-wrapper p {
  width: 443px;
  height: 120px;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: 1.92px;
  color: var(--Text, #fafafa);
}
.advertaisment-main .advertaisment-wrapper .adv-time {
  width: 220px;
  height: 62px;
}
.advertaisment-main .advertaisment-wrapper .time-box {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.962);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.advertaisment-main .advertaisment-wrapper .time-box strong {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  color: var(--Text2, #000);
}
.advertaisment-main .advertaisment-wrapper .time-box i {
  color: var(--Text2, #000);
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 163.636% */
}
.advertaisment-main .advertaisment-wrapper .buy-now-btn {
  margin-top: 40px;
  width: 171px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--Button1, #0f6);
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: var(--Text, #775a5a);
}
.advertaisment-main .advertaisment-wrapper .img-box {
  width: 298px;
  height: 500px;
  position: absolute;
  top: -69px;
  left: 602px;
  transform: rotateZ(35deg);
}

@keyframes moveBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.explore-products-main {
  margin-top: 114px;
  width: 100%;
  height: 1026px;
}

.explore-products-main .explore-products-wrapper .products-wrapper {
  justify-content: space-between; /* yoki center, gap berib ham ishlaydi */
  gap: 20px; /* productlar orasida masofa bo‘ladi */
  width: 100%;
  height: 350px;
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main {
  background: white;
  position: relative;
  width: 270px;
  height: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main
  .discount-percentage {
  margin-top: 12px;
  margin-left: 12px;
  width: 55px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Secondary-2, #db4444);
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main
  .product-images {
  width: 100%;
  height: 200px; /* yoki sizga mos o‘lcham */
  object-fit: contain; /* yoki cover */
  background-color: transparent; /* shaffof fon */
  display: inline;
  margin: 0 auto;
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main
  .like-wiew {
  position: absolute;
  width: 34px;
  height: 76px;
  left: 220px;
  top: 20px;
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main
  .like-wiew
  .like-view-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.486);
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main
  .productName {
  display: inline;
  margin-left: 16px;
  margin-top: 16px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main
  .product-price {
  margin-left: 16px;
  margin-top: 16px;
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main
  .product-price
  .exact-price {
  color: var(--Secondary-2, #ed1111);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main
  .product-price
  .discount-price {
  color: var(--Button, rgba(0, 0, 0, 0.3215686275));
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: line-through;
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main
  .product-price
  .sold-count {
  width: 90px;
  height: 30px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: rgba(255, 85, 0, 0.7490196078);
  box-shadow: 4px 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main:hover {
  transform: scale(1.04); /* butun kartani kattalashtiradi */
  transition: transform 0.4s ease-in-out; /* sekinlik bilan */
}

.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main:hover
  .discount-percentage {
  transform: scale(0.9); /* biroz kichiklashadi */
  transition: transform 0.3s ease-in-out;
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box-main:hover
  .like-wiew
  .like-view-icon {
  transform: scale(0.9); /* u ham kichiklashadi */
  transition: transform 0.3s ease-in-out;
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box:hover {
  transform: translateY(-8px) scale(1.03); /* tepaga ko'tariladi va biroz kattalashadi */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.explore-products-main
  .explore-products-wrapper
  .products-wrapper
  .product-box:hover
  .product-b {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

.explore-products-main .flash-sales-top {
  width: 1300px;
  height: auto;
}
.explore-products-main .flash-sales-top .sales-discount {
  width: 1255px;
  height: 105px;
}
.explore-products-main .flash-sales-top .sales-discount .discount-left {
  width: 600px;
  height: 103px;
}
.explore-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today {
  width: 180px;
  height: 40px;
  margin-bottom: 20px;
}
.explore-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today
  .discount-red {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background: var(--Secondary-2, #db4444);
}
.explore-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today
  span {
  margin-left: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  color: var(--Secondary-2, #db4444);
}
.explore-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper {
  width: 100%;
  height: auto;
}
.explore-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  strong {
  margin-top: 10px;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
  color: var(--Text2, #000);
}
.explore-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper {
  margin-left: 87px;
  width: 302px;
  height: 50px;
}
.explore-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box {
  width: 46px;
  height: 20px;
}
.explore-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box
  span {
  margin: 0;
  margin-bottom: 4px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  color: var(--Text2, #000);
}
.explore-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box
  p {
  margin: 0;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
  letter-spacing: 1.28px;
  color: var(--Text2, #000);
}
.explore-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .equal {
  margin-top: 5px;
  margin-left: 13px;
  height: 50px;
  width: 46px;
  color: #e07575;
  font-size: 37px;
}
.explore-products-main .flash-sales-top .sales-discount .discount-right {
  padding-top: 60px;
  width: 60px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.explore-products-main .products-wrapper {
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: space-between; /* yoki center, gap berib ham ishlaydi */
  gap: 20px; /* productlar orasida masofa bo‘ladi */
  width: 100%;
  height: 350px;
}
.explore-products-main .products-wrapper .product-box {
  margin-bottom: 20px;
  position: relative;
  width: 270px;
  height: 360px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s ease; /* animatsiya qo'shildi */
}
.explore-products-main .products-wrapper .product-box .product-box-top {
  width: 270px;
  height: 250px;
}
.explore-products-main
  .products-wrapper
  .product-box
  .product-box-top
  .product-a {
  position: relative;
  width: 100%;
  height: 209px;
  padding: 12px;
  box-sizing: border-box;
}
.explore-products-main
  .products-wrapper
  .product-box
  .product-box-top
  .product-a
  .discount-percentage {
  width: 55px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Secondary-2, #db4444);
}
.explore-products-main
  .products-wrapper
  .product-box
  .product-box-top
  .product-a
  .discount-percentage
  span {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  color: var(--Text, #fafafa);
}
.explore-products-main
  .products-wrapper
  .product-box
  .product-box-top
  .product-a
  .product-image {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 172px;
  height: 152px;
}
.explore-products-main
  .products-wrapper
  .product-box
  .product-box-top
  .product-a
  .view-like-box {
  width: 34px;
  height: 60px;
}
.explore-products-main
  .products-wrapper
  .product-box
  .product-box-top
  .product-b {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
  border-radius: 0 0 4px 4px;
  background: var(--Button, #000);
}
.explore-products-main
  .products-wrapper
  .product-box
  .product-box-top
  .product-b
  .cart-butt {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  color: whitesmoke;
}
.explore-products-main .products-wrapper .product-box .product-box-bott {
  width: 100%;
  height: 200px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
.explore-products-main .products-wrapper .product-box .product-box-bott span {
  margin-top: 12px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: #000;
}
.explore-products-main
  .products-wrapper
  .product-box
  .product-box-bott
  .product-price-box {
  width: 85px;
  height: 24px;
}
.explore-products-main
  .products-wrapper
  .product-box
  .product-box-bott
  .product-price-box
  .curr-price {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: var(--Secondary-2, #db4444);
}
.explore-products-main
  .products-wrapper
  .product-box
  .product-box-bott
  .product-price-box
  .down-price {
  margin-left: 12px;
  color: var(--Button, rgba(75, 72, 72, 0.4352941176));
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: line-through;
}
.explore-products-main .products-wrapper .product-box:hover {
  transform: translateY(-8px) scale(1.03); /* tepaga ko'tariladi va biroz kattalashadi */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.explore-products-main .products-wrapper .product-box:hover .product-b {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}
.explore-products-main .view-all-products {
  margin-top: 470px;
  width: 100%;
  height: 56px;
}
.explore-products-main .view-all-products .view-all-butt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  height: 56px;
  border-radius: 4px;
  background: var(--Button2, #db4444);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 1000;
  line-height: 24px; /* 150% */
  color: var(--Text, #fafafa);
}

.new-arrival-products-main {
  margin-top: 140px;
  width: 100%;
  height: 768px;
}
.new-arrival-products-main .flash-sales-top {
  width: 1300px;
  height: auto;
}
.new-arrival-products-main .flash-sales-top .sales-discount {
  width: 1255px;
  height: 105px;
}
.new-arrival-products-main .flash-sales-top .sales-discount .discount-left {
  width: 600px;
  height: 103px;
}
.new-arrival-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today {
  width: 180px;
  height: 40px;
  margin-bottom: 20px;
}
.new-arrival-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today
  .discount-red {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background: var(--Secondary-2, #db4444);
}
.new-arrival-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-today
  span {
  margin-left: 16px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  color: var(--Secondary-2, #db4444);
}
.new-arrival-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper {
  width: 100%;
  height: auto;
}
.new-arrival-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  strong {
  margin-top: 10px;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.44px;
  color: var(--Text2, #000);
}
.new-arrival-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper {
  margin-left: 87px;
  width: 302px;
  height: 50px;
}
.new-arrival-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box {
  width: 46px;
  height: 20px;
}
.new-arrival-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box
  span {
  margin: 0;
  margin-bottom: 4px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  color: var(--Text2, #000);
}
.new-arrival-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .dynamic-box
  p {
  margin: 0;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
  letter-spacing: 1.28px;
  color: var(--Text2, #000);
}
.new-arrival-products-main
  .flash-sales-top
  .sales-discount
  .discount-left
  .discount-date-wrapper
  .dynamic-wrapper
  .equal {
  margin-top: 5px;
  margin-left: 13px;
  height: 50px;
  width: 46px;
  color: #e07575;
  font-size: 37px;
}
.new-arrival-products-main .flash-sales-top .sales-discount .discount-right {
  padding-top: 60px;
  width: 60px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.new-arrival-products-main .arrival-wrapper {
  margin-top: 60px;
  width: 100%;
  height: 600px;
}
.new-arrival-products-main .arrival-wrapper .arrival-left {
  width: 610px;
  height: 600px;
  border-radius: 4px;
  background: var(--Button, #000);
}
.new-arrival-products-main .arrival-wrapper .arrival-left .left-img {
  width: 511px;
  height: 511px;
  background-size: cover;
  background-repeat: no-repeat;
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-left
  .left-img
  .text-frame {
  margin-left: 60px;
  margin-top: 370px;
  width: 242px;
  height: 122px;
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-left
  .left-img
  .text-frame
  span {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
  color: var(--Text, rgb(5, 5, 4));
}

.new-arrival-products-main .arrival-wrapper .arrival-right {
  width: 610px;
  height: 600px;
}
.new-arrival-products-main .arrival-wrapper .arrival-right .arrival-box-a {
  position: relative;
  padding-left: 24px;
  box-sizing: border-box;
  width: 100%;
  height: 284px;
  border-radius: 4px;
  background: #0d0d0d;
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-a
  .box-text {
  margin-top: 140px;
  width: 405px;
  height: 122px;
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-a
  .box-text
  span {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
  color: var(--Text, #fafafa);
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-a
  .box-text
  p {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  color: var(--Text, #fafafa);
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-a
  .box-text
  .shop-now {
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: #fff;
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-a
  .box-img {
  left: 191px;
  position: absolute;
  margin-top: -51px;
  width: 192px;
  height: 396px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
}
.new-arrival-products-main .arrival-wrapper .arrival-right .arrival-box-b {
  margin-top: 35px;
  width: 100%;
  height: 284px;
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-b
  .b-wrapper {
  position: relative;
  border-radius: 4px;
  background: var(--Button, #000);
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-b
  .b-wrapper
  .b-left {
  /* position: absolute; */
  width: 295px;
  height: 284px;
  background-repeat: no-repeat;
  background-size: 190px 221px;
  background-position: center;
  border-radius: 4px;
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-b
  .b-wrapper
  .b-left
  .b-left-text {
  margin-left: 24px;
  margin-top: 170px;
  width: 191px;
  height: 85px;
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-b
  .b-wrapper
  .b-left
  .b-left-text
  span {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  letter-spacing: 0.72px;
  color: var(--Text, #fafafa);
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-b
  .b-wrapper
  .b-left
  .b-left-text
  p {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  color: var(--Text, #fafafa);
}
.new-arrival-products-main
  .arrival-wrapper
  .arrival-right
  .arrival-box-b
  .b-wrapper
  .b-left
  .b-left-text
  .b-btn {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  color: #fff;
}

.customer-service-main {
  margin-top: 140px;
  margin-bottom: 140px;
  width: 100%;
  height: auto;
}
.customer-service-main .service-wrapper {
  width: 943px;
  height: 161px;
}
.customer-service-main .service-wrapper .service-box {
  width: 250px;
  height: 141px;
}
.customer-service-main .service-wrapper .service-box img {
  background-color: black;
  border-radius: 16px;
  width: 45px;
  height: 45px;
  color: red;
}
.customer-service-main .service-wrapper .service-box p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  color: #000;
}
.customer-service-main .service-wrapper .service-box span {
  color: #000;
  text-align: center;
  /* Title/14PX Regular */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

/*# sourceMappingURL=home.css.map */
